@import 'tailwindcss';

* {
   scrollbar-width: none;
}

html,
body,
#root {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100dvw;
   height: 100dvh;
}

@layer base {

   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type="number"] {
      -appearance: textfield;
   }
}

/* utilidad personalizada para usar como clase */
@utility bg-wallpaper {
   background-image: url('./assets/fondo.webp')
}

/* fuente personalizada */
@theme{
   --font-luckiest: "Lukiest Guy", cursive;
}