@import 'tailwindcss';

* {
   scrollbar-width: none;
   scroll-behavior: smooth;
}

html,
body,
#root {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100dvw;
   height: 100dvh;
}

@layer base {

   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type="number"] {
      -appearance: textfield;
   }
}

/* utilidad personalizada para usar como clase */
@layer bg-wallpaper {
   .bg-wallpaper {
      background-image: url('./assets/fondo.webp');
   }
}

@layer bg-wallpaper-burguer {
   .bg-wallpaper-burguer {
      background-image: url('./assets/fondoBurguer.jpg');
   }
}

/* fuente personalizada */
@theme {
   --font-luckiest: "Luckiest Guy", cursive;
}
